= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :create_date
    = f.date_select :create_date
  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :owner_id
    = f.number_field :owner_id
  .field
    = f.label :game_id
    = f.number_field :game_id
  .actions
    = f.submit 'Save'
