%h1 Listing comments

%table
  %tr
    %th Create date
    %th Content
    %th Owner
    %th Game
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.create_date
      %td= comment.content
      %td= comment.owner_id
      %td= comment.game_id
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Comment', new_comment_path
