%p#notice= notice

%p
  %b Create date:
  = @comment.create_date
%p
  %b Content:
  = @comment.content
%p
  %b Owner:
  = @comment.owner_id
%p
  %b Game:
  = @comment.game_id

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
