= form_for @game, :url => { :action => "create" } do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  .row
    .large-6.columns
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :dscr
        = f.text_area :dscr, :rows=>14
    .large-6.columns
      .field
        = f.label :release_date
        = f.date_select :release_date
      .field
        = f.label :category_id
        = f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name))
  .actions
    = f.submit 'Save', class:'button'
